.sidebar {
    background-color: #1A1A1A !important;
    color: #fff;
    width: 250px;
    height: 100%;
    margin-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    padding: 10px 20px;
}

.sidebar-nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar-nav li a:hover {
    background-color: #555;
}
/* Define the animations */
@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /* Apply the animations to the side-bar */
  .side-bar {
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }
  
  .open {
    animation-name: slideIn;
  }
  
  .closed {
    animation-name: slideOut;
  }
  